<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">

        <services>
            <register
                serviceType="Sitecore.Feature.ManagedSynonyms.Services.ISynonymItemsService, Sitecore.Feature.ManagedSynonyms"
                implementationType="Sitecore.Feature.ManagedSynonyms.Services.SynonymItemsService, Sitecore.Feature.ManagedSynonyms"
                resolve="true"
                lifetime="Transient" />

            <register
                serviceType="Sitecore.Feature.ManagedSynonyms.Services.ISynonymItemsService, Sitecore.Feature.ManagedSynonyms"
                implementationType="Sitecore.Feature.ManagedSynonyms.Services.SynonymItemsService, Sitecore.Feature.ManagedSynonyms"
                resolve="true"
                lifetime="Transient" />
        </services>
        
		<settings>
			<setting name="ManagedSynonyms.Folder" value="/sitecore/system/Modules/ManagedSynonyms" />
		</settings>
		<commands>
			<command name="integrations:syncsynonyms" type="Sitecore.Feature.ManagedSynonyms.Commands.SyncSynonyms, Sitecore.Feature.ManagedSynonyms" />
		</commands>
		<pipelines>
			<contentSearch.PopulateSolrSchema>
				<processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.PopulateSolrSchema.PopulateFields, Sitecore.ContentSearch.SolrProvider">
					<param patch:instead="param[@type='Sitecore.ContentSearch.SolrProvider.Factories.DefaultPopulateHelperFactory']" type="Sitecore.Feature.ManagedSynonyms.PopulateSolrSchema.PopulateHelperFactory, Sitecore.Feature.ManagedSynonyms"/>
				</processor>
			</contentSearch.PopulateSolrSchema>
		</pipelines>
		
	</sitecore>
</configuration>